.qw23ew {
border: 6px solid black;
    max-width: 450px;
    margin-left: 50px;
    margin: auto;
    margin-top: 50px;
}

.qw23ew h2 {
	text-align:center;
	padding:20px 0px;
	
}

.form-control {
   width: 90%;
   margin-left: 20px;
   height:50px;
   line-height:30px;
}
.form-control:focus {
	box-shadow:none;
}
label {
	position: absolute;
    margin-left: 60px;
    background-color: #fff;
    margin-top: -11px;
    padding: 0px 10px;
	font-weight:500;
	z-index:9999;
}

.form-group {
    margin-bottom: 2rem;
}

.btn {
	border-radius:50px;
	background-color:#000;
	margin-bottom:20px;
	justify-content:center;
	color:#fff;
	font-size:18px;
	display: flex;
    width: fit-content;
    margin: auto;
	padding:10px 80px;
}

.btn:hover {
	background-color:#000;
	color:#fff;
}

.qw23ew h1 {
	font-size:16px;
	text-align:center;
	font-weight:300;
	margin-top:20px;
	margin-bottom:20px;
}

.dollar-icon {
	padding-left: 40px;
    position: relative;
    width: calc(100% - 45px);
	margin-top:-49px;
}

.dol-img::after {
    content: "";
    top: 1px;
    left: 17px;
    display: block;
    width: 40px;
    border-right: 1px solid #c1c1c1;
    background-image: url(https://image.flaticon.com/icons/png/512/25/25228.png);
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: 12px;
    height: 50px;
    position: relative;
    z-index: 99;
	
}
